<footer ng-controller='MainController as mainCtrl'>
  <div class="f-top">
    <div class="f-email"><p>patrickfunom@live.com</p> <p>my resume pdf</p></div>
  </div>
  <div class="f-bottom">
    <div class="social-box">
      <a ng-href ="#">
        <span><i class="fa fa-medium" aria-hidden="true"></i></span>
      </a>
      <a ng-href ="https://www.linkedin.com/in/patrickfunom">
        <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
      </a>
      <a ng-href ="https://twitter.com/patrickfunom">
        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
      </a>
      <a ng-href ="https://github.com/ptlergo">
        <span><i class="fa fa-github" aria-hidden="true"></i></span>
      </a>
    </div>
    <div class="f-copywright">
      <a ng-href ="#home">
        <div class="f-logo"><img ng-src='{{mainCtrl.main_logo}}'></div>
        <div class="f-copywirght"><i>&copy; 2017 Patrick Funom Tunga-Lergo</i></div>
      </a>
    </div>
</footer>
