<footer ng-controller = "HomeController as footerCtrl">
    <div class="contact-box">
      <h1>contact me</h1>
      <ul>
        <li><a ng-href="mailto:{{footerCtrl.otherLinks[0]}}">me@patrickfunom.com</a></li>
        <li><a ng-href="tel:{{footerCtrl.otherLinks[1]}}">(407)655-9901</a></li>
      </ul>
    </div>

    <div class="social-box">
      <h1>follow me</h1>
      <ul>
        <li ng-repeat = "social in footerCtrl.socialLinks"><a ng-href = "{{social}}"></a></li>
      </ul>
    </div>

    <div class="f-copywirght">
      <ul>
        <li><img ng-src='{{mainCtrl.main_logo}}'></li>
        <li><i>&copy; 2017 Patrick Funom Tunga-Lergo</i></li>
      </ul>
    </div>
</footer>
