<div ng-controller = "NavController as navCtrl">
  <nav class = "navbar">
    <div class="brand"><img ng-src ="{{navCtrl.brand}}"></div>
    <div hamburger-icon ng-click = "navCtrl.mToggle = !navCtrl.mToggle"></div>
    <div class="overlay" ng-show="navCtrl.mToggle" ng-class = "{ 'overlayActive': navCtrl.mToggle }">
      <div class = "nav-links" ng-repeat = "route in navCtrl.routes">
            <h1>
              <a ng-href = '{{route.url}}' ng-click = "navCtrl.mToggle = !navCtrl.mToggle">
                {{route.name}}
              </a>
            </h1>
       </div>
    </div>
  </nav>
</div>
