<div ng-controller = "NavController as navCtrl">
  <nav class = "navbar">
    <button ng-click = "navItems = !navItems">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    <div class="container-fluid overlay" ng-show="navItems">
      <div ng-repeat = "route in navCtrl.routes">
        <ul>
          <li>
            <h1>
              <a ng-href = '{{route.url}}'</a>
              {{route.name}}
            </h1>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
