<div ng-controller = "NavController as navCtrl">
  <nav class = "navbar">
    <div hamburger-icon ng-click = "navCtrl.mToggle = !navCtrl.mToggle"></div>
    <div class="overlay" ng-show="navCtrl.mToggle">
      <div ng-repeat = "route in navCtrl.routes">
        <ul>
          <li>
            <h1>
              <a ng-href = '{{route.url}}' ng-click = "navCtrl.mToggle = !navCtrl.mToggle">
                {{route.name}}
              </a>
            </h1>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
