/*
  ===================================
    Variables
  ===================================
*/
$font-fam-p: "proxima-nova", Corbel, Arial, sans-serif;
$font-fam: "nunito", corbel, san-serif;
$font-desktop-p: 2.2rem;
$font-mobile-p: 1.6rem;
$edge-padding: 2.5rem;
// $border-slant-height: 14vh;
$max-width: 130rem;
$max-width-content: 110rem;
$content-width: 34rem;
$content-spacing: 2rem;
$standard-spacing: 1rem;
$standard-spacing-s: 0.5rem;
$standard-spacing-m: 2rem;
$standard-spacing-l: 5rem;