.about-p,
.publications-p,
.works-p {
    @include title-ribbon-super;

    .summary-box {
        width: 90%;
    }
}

.about-p {
  ul{
    list-style: circle;
  }
  .proficiencies{
    text-align: left;

  }
  h2{
    color: #ffffff;
  }

  img{
    width: 10%;
  }
  @include phone{
    img{
      width: 30%;
    }
  }

}
