.case-header{
  float: left;
  position: relative;
  z-index: 1;
  text-align: left;
  @include phone{
    width: 50%;
  }
}

.case-details{
  float: right;
  position: relative;
  z-index: 1;
  text-align: right;
  @include phone{
    width: 50%;
  }

}

.case-container{
  padding-bottom: 100px;
}
