.prototype{
  float: left;
  width: 50%;
}

.case-header{
  float: left;
  position: relative;
  z-index: 1;
  text-align: left;
  @include phone{
    width: 50%;
  }
}
.super-case-container:nth-of-type(odd){
  .case-container .case-header{
    float: right;
    text-align: right;


  }
  .case-container .prototype{
    float: right;
  }

  .case-container .case-details{
    float: left;
    text-align: left;  }

}



.case-details{
  float: right;
  position: relative;
  z-index: 1;
  text-align: right;
  @include phone{
    width: 50%;
  }
}

.case-container{
  margin: 100px auto;
  overflow: hidden;
  padding: 0 55px;
}
