/*VARIABLES*/
$font-p: "proxima-nova", Corbel, Arial, sans-serif;
$font: "nunito", corbel, san-serif;
$font-desktop-p: 2.2rem;
$font-mobile-p: 1.6rem;

body {
    font-family: $font;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    a, a:visited{
        color: #ffffff;
        font-weight: 500;
        width: 100%;
        text-decoration: none !important;
        background: inherit !important;
    }

    p {
        font-family: $font-p;
        font: $font-desktop-p;
        @include phone {
            font: $font-mobile-p;
        }
    }

    h1 {
        // font-size: 25px;
    }

    ul {
        list-style: none;
    }
}

.container,
footer,
header {
    flex: 1 100%;
}

header {
    order: 1;
}

.container {
    order: 2;
}

.main-container {
    text-align: center;
}

footer {
    order: 3;
    height: 60vh;
}


#header-as,
#header-ps,
#header-ws {
    background: #3263c9;
}
/*Title Animation*/
@mixin title-ribbon-super {
    .title-ribbon {
        @include ribbon;
    }

    .title-ribbon:hover {
        @include ribbon-hover
    }

    .title-ribbon:before {
        @include ribbon-before;
    }

    .title-ribbon:hover:before {
        @include ribbon-hover-before;
    }

    .title-ribbon:after {
        @include ribbon-after;
    }

    .title-ribbon:hover:after {
        @include ribbon-hover-after;
    }
}

.home-s {
    height: 70vh;

    .home-text {
        max-width: 40%;
        margin: 10% 0 0 2%;
        text-align: left;
    }

    h2 {
        // font-size: 20px;
    }

    h2:first-child {
        // font-size: 30px;
    }

    img {
        width: 25%;
    }


    @include phone {
        .home-text {
            margin: 10% 0 0 5%;
            max-width: 70%;
        }

        img {
            width: 50%;
        }
    }
}

.about-s,
.publications-s,
.works-s {
    height: 100vh;
}

.about-s,
.publications-s{
    background: #3263C9;
}

.works-s {
    background: #252525;
}

.summary {
    background: white;
    margin: 0 auto;
    padding: 30px 50px;
    text-align: left;
    @include phone{
      padding: 45px;
    }
    @include desktop{
      padding: 30px 250px;
    }

}

.summary-box {
    margin: auto;
    width: 70%;
    @include phone{
      width: 90%;
    }
}

.title-container {
    width: 250px;
    margin: auto;
}

.title-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

.carousel-indicators li {
    visibility: hidden;
}

.tagline {
    padding-top: 15%;
}
