
body{
  font-family: "kepler-std", Georgia, serif;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

    @include phone {
      text-align: center;
    }
    p{
      font-family: "proxima-nova", Corbel, Arial, sans-serif;
    }
}

header, footer, .container{
  flex: 1 100%;
}

header{
  order: 1;
}

.container{
  order: 2;
}

.main-container{
  padding: 0%;
}

footer{
  order: 3;
}

.slant-container{
  height: 400px;
  transform: skewY(-12deg);
  background: #00BCD4;

}
