footer {
    text-align: center;

    .f-top {
        background: #252525;
        height: 50%;
        color: white;
        padding: 1% 0;

      .contact-box{
        width: 50%;
        margin: 10% auto;
      }
    }

    .f-bottom {
        background: #252525;
        height: 100%;
        padding: 1% 0;

        .social-box {
            color: white;
            font-size: 2rem;
            margin: 0 auto;
            padding: 0 0 10%;
            @include phone {
                padding: 0 0 20%;
            }
        }

        .f-copywright {
            padding-bottom: 1%;
            opacity: 0.6;
            clear: both;

            :hover {
                cursor: pointer;
            }
        }

        .f-logo img {
            width: 3%;
        }
        @include phone {
            .f-logo img {
                width: 10%;
            }
        }
    }
}
