footer{
  height: 100%;
  text-align: center;


  .slant{
    border-right: 100vw solid #252525;
    border-top: 300px solid #3263c9;
    @include phone{
      border-top: 67px solid #3263c9;
    }
    @include tablet{
      border-top: 163px solid #3263c9;
    }
    @include tablet{
      border-top: 300px solid #3263c9;
    }

  }
  .f-top{
    background: #252525;
    height: 45%;
  }
  .f-bottom{
    background: #252525;
    height: 45%;

  }

  .social-box{
    color: white;
    font-size: 25pt;
    margin: 0 auto;
    padding: 10% 0;
    width: 240px;
  }
  span{
    width: 40px;
    margin: 0 auto;
    padding: 10px;
  }
  .f-logo img{
    width: 3%;
  }
  @include phone{
    font-size: 10pt;
  }
}
