footer{
  height: 400px;


  .f-top{
    background: #252525;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    height: 400px;
  }
  .f-bottom{
    background: #252525;
    height: 300px;
    margin-top: -75px;
  }
}
