.hamburger-container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 35px;
    width: 45px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
}

.hamburger-container:hover {
    opacity: 0.5;
}

.hamburger-container span .top {
    transform: translateY(11px) translateX(0) rotate(45deg);

}

.hamburger-container span .middle {
    opacity: 0;
    background: #green;
}

.hamburger-container span .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
}

.hamburger-container span {
    background: #EFC638;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
}

.hamburger-container span:nth-of-type(2) {
    top: 11px;
}

.hamburger-container span:nth-of-type(3) {
    top: 22px;
}
