nav a{
  color: white;
}

.overlay {
	position:fixed;
	top:0;
  left: 0;
  right: 0;
	height:100%;
	width:100%;
	background:rgba(0, 0, 255, 1);
  z-index: 1;
  color: white;
  text-align: center;
}

.overlay ul{list-style: none;}
