.about-p{
  ul{
    overflow:scroll;
  }

  p a{
    color: #3263C9;
  }
}
.publications-p{
  div p{
    padding: 1.6rem;
  }
  a{
    color: #252525;
  }
}
div[class*=-p]{
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  @include desktop{
    padding: 12rem;
  }
  ul{
    padding: 0;
  }
}
