/*
  ===================================
    All Pages
  ===================================
*/
div[class*=-p] {
    padding-left: 2.6rem;
    padding-right: 2.6rem;


    h2,h3{
      text-transform: uppercase;
      width: 50%;

    }

    h2{
      font-size: 4.0rem !important;
      padding-top: 2rem;
      margin: 0;

    }
    h3{
      font-size: 1.2rem !important;
      padding-bottom: 2rem;
      margin-top: 0;

    }

    p {
        opacity: 0.9;
    }

    p:hover {
        opacity: 1;
    }
    @include desktop {
        padding: 12rem;
    }

    ul {
        padding: 0;
        padding-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    li{
      padding-right: 1rem;
    }
}

/*
  ===================================
    About Page
  ===================================
*/
.about-p {
    ul {
        overflow: scroll;
    }

    p a {
        color: #3263C9;
    }
}

/*
  ===================================
    Works Page
  ===================================
*/
.works-p{
  div[class*=cases-prototype-]{
    padding: 0;
  }
}
/*
  ===================================
    Publications Page
  ===================================
*/
.pu
.publications-p {
  h1:after{
    content: "";

  }
    .talk-1 {
        display: flex;

        h3 {
            font-size: 1.9rem;
            margin: 0;
        }

        h4 {
            font-size: 1.4rem;
        }

        div {
            flex: 1;
        }

        div:last-child {
            flex: 2;
        }

        iframe {
            width: 90%;
            height: 50%;
            @include desktop {
                width: 55%;
                height: 60%;
            }
        }
    }

    div p {
        padding: 1.6rem;
    }

    a {
        color: #252525;
    }
}
