.prototype-device {
    @include prototype-iphone-img;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 60rem;
    content: '*';
    @include phone {
        height: 30rem;
        width: 100%;
    }
}

.prototype-screen {
    @include prototype-musicem-img;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    content: '*';
    height: 45rem;
    top: 7rem;
    position: relative;
    @include phone {
        height: 22.4rem;
        top: 3.9rem;
    }
}
