.prototype-device{
  background-image: url('../../img/iphone.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
  content: '*';

}

.prototype-screen{
  background-image: url('https://media.giphy.com/media/3ohzdLBDAwCtfWy6sM/giphy.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: '*';
  height: 450px;
top: 70px;
position: relative;
}
