
.prototype-device{
  @include prototype-iphone-img;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
  content: '*';
  @include phone{
    height: 300px;
    width: 110%;
  }

}

.prototype-screen{
  @include prototype-musicem-img;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: '*';
  height: 450px;
top: 70px;
position: relative;
@include phone{
  height: 224px;
    top: 39px;
}
}
