<section class="home__section home__section--about " ng-controller='AboutController as aboutCtrl'>
  <div class="content">
    <h1>Features</h1>
    <!-- <h1>{{ aboutCtrl.title }}</h1> -->
    <!-- <p>{{homeCtrl.summary}}</p> -->
    <div class="features__carousel">
      <div class="features__item">
        <iframe width="1680" height="786" src="https://www.youtube.com/embed/7v0ull26bB4"
          title="How We Document 2024: Episode 4 - Trends in Design Tokens" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="features__item">
        <iframe width="1680" height="786" src="https://www.youtube.com/embed/ZtiYjIk0rwc"
          title="Patrick Funom Presenting Music&#39;em App At Full Sail Live" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <!-- <div class="img-box">
          <img width="100%" height="100%" src="/img/case-images/musicem/musicem-case-image.png" alt = "feature-image">

      </div> -->
    </div>
    <button><a href="works">view more</a></button>
  </div>
</section>