  <ng-include class="publications-border" src = "'img/border-slant.svg'"></ng-include>
  <div class="publications-s" ng-controller='PublicationsController as publicationsCtrl'>

      <div class="title-container">
        <a href="#publications" class="title-link">
        <span class="title-ribbon">
          <h1>{{ publicationsCtrl.printWritings }}</h1>
        </span>
      </a>
    </div>

      <div class="summary-box">
        <ng-include class="summary-border-t" src = "'img/border-slant.svg'"></ng-include>
          <p class="summary">{{ publicationsCtrl.summary }}</p>
          <ng-include class="summary-border-b" src = "'img/border-slant.svg'"></ng-include>
      </div>
      <button class="resume">
        <a href="#publications">
        read more
      </a>
      </button>
  </div>
