@mixin ribbon {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    color: white;
    text-decoration: none;
}
@mixin ribbon-hover {
    position: relative;
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    color: white;
    text-decoration: none;
}
@mixin ribbon-before {
    bottom: 0%;
    content: '';
    position: absolute;
    top: -20%;
    transition: 0.3s;
    width: 55%;
    background: #71e2a6;
    left: 5%;
    -webkit-transform: translateY(4px);
    transform: translateY(4px) skewY(-10deg);
    z-index: -1;
    -webkit-transform: skewY(-13.02deg);
}
@mixin ribbon-after {
    bottom: -20%;
    content: '';
    position: absolute;
    top: 0%;
    transition: 0.3s;
    width: 55%;
    background: #e9b921;
    right: 5%;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    z-index: -1;
    -webkit-transform: skewY(-13.02deg);
}
@mixin ribbon-hover-after {
    bottom: -20%;
    content: '';
    position: absolute;
    top: 0%;
    transition: 0.3s;
    width: 55%;
    background: inherit;
    right: 5%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: -1;
}
@mixin ribbon-hover-before {
    bottom: 0%;
    content: '';
    position: absolute;
    top: -20%;
    transition: 0.3s;
    width: 55%;
    background: inherit;
    left: 5%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: -1;
}

/*
  ===================================
    animations: fadeIn, slideUp,
    slideLeft
  ===================================
*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes slideUp {
    0% {
        position: relative;
        bottom: -100vh;
    }

    100% {
        bottom: 100vh;
    }
}
@keyframes slideLeft {
    0% {
        position: relative;
        right: -100vw;
    }

    100% {
        right: 100vw;
    }
}
