@mixin ribbon{
  position: relative;
  display: block;
  box-sizing: border-box;
  transition: 0.3s;
  z-index: 1;
  color: white;
  text-decoration: none;
}

@mixin ribbon-hover{
  position: relative;
  display: block;
  box-sizing: border-box;
  transition: 0.3s;
  z-index: 1;
  color: white;
  text-decoration: none;
}

@mixin ribbon-before{
  bottom: 5%;
  content: '';
  position: absolute;
  top: 5%;
  transition: 0.3s;
  width: 55%;
  background: #71e2a6;
  left: 5%;
  -webkit-transform: translateY(4px);
  transform: translateY(4px)  skewY(-10deg);
  z-index: -1;
  -webkit-transform: skewY(-10deg);
}

@mixin ribbon-after{
  bottom: 5%;
  content: '';
  position: absolute;
  top: 5%;
  transition: 0.3s;
  width: 55%;
  background: #e9b921;
  left: 50%;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  z-index: -1;
  -webkit-transform: skewY(-10deg);

}

@mixin ribbon-hover-after{
  bottom: 5%;
  content: '';
  position: absolute;
  top: 5%;
  transition: 0.3s;
  width: 55%;
  background: inherit;
  left: 50%;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  z-index: -1;

}

@mixin ribbon-hover-before{
  bottom: 5%;
  content: '';
  position: absolute;
  top: 5%;
  transition: 0.3s;
  width: 55%;
  background: inherit;
  left: 5%;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  z-index: -1;

}

.title-link {
    display: inline-block;
    width: auto;
    min-width: 45%;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}


.title-ribbon {
@include ribbon;
}

.title-ribbon:hover {
@include ribbon-hover

}

.title-ribbon:before {
@include ribbon-before;

}

.title-ribbon:hover:before {

  @include ribbon-hover-before;

}

.title-ribbon:after {
  @include ribbon-after;


}


.title-ribbon:hover:after {
@include ribbon-hover-after;
}
