/*
  ======================================================================
    Buttons, Headers, links, carousel etc.
  ======================================================================
*/
.title-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

.carousel-indicators li {
    visibility: hidden;
}

.tagline {
    padding-top: 15%;
}


button{
  margin-top: 1.6rem;
	background: transparent;
	text-align: center;
	color: #71e2a6;
	font-weight: bold;
	border: 1px solid #71e2a6;
	box-shadow: 0.4rem 0.4rem 0px 0px #71e2a6;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

/*scale transform works better than zoom*/
button:hover{
	box-shadow: none;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

button:focus{
  outline: none;
}

/*
  ===================================
    HomePage Triggers
  ===================================
*/
img[src*=-logo] {
    animation: slideUp 2.5s ease-in-out;
}

.home-text {
    animation: slideLeft 3s ease-in-out;
}

.hamburger-container {
    animation: fadeIn 5s ease-in;
}

/*
  ===================================
    H1 Tag Styles
  ===================================
*/

section[class*=-section],div[class*=-p]{
 

}

.section__title{
  position: relative;
  z-index: 1;
  text-align: center;
  width: 25rem;
  margin: 0 auto;
  color: #ffffff;
}
.section__title:before{
  content: '';
  display: block;
  height: 7rem;
  top: 5rem;
  background: #e9b921;
  transform: translateY(0px) skewY(524deg);
  position: relative;
  z-index: -1;
  width: 90%;
  left: -10%;
}

.section__title:after{
  content: '';
  display: block;
  background: #71e2a6;
  transform: translateY(90%) skewY(524deg);
  position: relative;
  height: 7rem;
  bottom: 10rem;
  z-index: -1;
  width: 90%;
  left: 20%;
}

.button{
  padding: 0.5rem 1.5rem;
    background: transparent;
    text-align: center;
    color: $brand-green;
    font-weight: bold;
    border: 1px solid $brand-green;
    box-shadow: 0.4rem 0.4rem 0px 0px $brand-green;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    a {
        color: $brand-green;
    }
    a:visited {
      color: inherit;
    }
}

/*scale transform works better than zoom*/
.button:hover{
    cursor: pointer;
    box-shadow: none;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.button:focus{
  outline: none;
}

