@mixin container {
    margin: 0 auto;
    max-width:$max-width;
    padding: $standard-spacing;
}
@mixin content-container($width: $max-width-content) {
    margin: 0 auto;
    max-width:$width;
    padding: $standard-spacing;
}