/*
  ===================================
    Variables
  ===================================
*/
$font-fam-p: "proxima-nova", Corbel, Arial, sans-serif;
$font-fam: "nunito", corbel, san-serif;
$font-desktop-p: 2.2rem;
$font-mobile-p: 2.2rem;
$edge-padding: 2.5rem;
// $border-slant-height: 14vh;
$max-width: 130rem;
$brand-green: #71e2a6;