/*
  ===================================
    Variables
  ===================================
*/
$font-fam-p: "proxima-nova", Corbel, Arial, sans-serif;
$font-fam: "nunito", corbel, san-serif;
$font-desktop-p: 2.2rem;
$font-mobile-p: 1.6rem;
$border-slant-height: 14vh;
$section-container-width: 92vw;
$section-container-width-desktop: 70vw;
