/*
  ===================================
    Variables
  ===================================
*/
$font-fam-p: "proxima-nova", Corbel, Arial, sans-serif;
$font-fam: "nunito", corbel, san-serif;
$font-desktop-p: 1.6rem;
$font-mobile-p: 1.6rem;
$font-mega: 6.4rem;
$font-h1: 3.2rem;
$font-h2: 2.4rem;
$font-p-mobile: 2.2rem;
$font-p: 3rem;
$edge-padding: 2.5rem;
// $border-slant-height: 14vh;
$max-width: 130rem;
$brand-green: #71e2a6;