@mixin prototype-winter-soulstice-img{
  background-image: url('');
}

@mixin prototype-musicem-img{
  background-image: url('');
}

@mixin prototype-iphone-img{
  background-image: url('../../img/iphone.png');
}
