@mixin prototype-winter-soulstice-img{
  background-image: url('https://media.giphy.com/media/l0Iy6H2eek61zOIuc/giphy.gif');
}

@mixin prototype-musicem-img{
  background-image: url('https://media.giphy.com/media/3ohzdLBDAwCtfWy6sM/giphy.gif');
}

@mixin prototype-iphone-img{
  background-image: url('../../img/iphone.png');
}
