<div class ="case-p" ng-controller = 'WorksController as worksCtrl'>
  <img id = "case-image" ng-src = "{{worksCtrl.lonerTour.case_images[0]}}">
  <h1>{{worksCtrl.lonerTour.name}}</h1>
  <h2>e-Commerce Service</h2>
  <h3>Details: {{worksCtrl.lonerTour.details}}</h3>
  <i>{{worksCtrl.lonerTour.tags}}</i>
  <ul><li ng-repeat = "tech in worksCtrl.lonerTour.tech">{{tech}}</li></ul>
  <p>{{worksCtrl.lonerTour.challenges}}</p>
  <p>{{worksCtrl.lonerTour.paragraphA}}</p>
  <p>{{worksCtrl.lonerTour.paragraphB}}</p>
  <p>{{worksCtrl.lonerTour.paragraphC}}</p>
  <button>more works</button>
</div>
