<div class ="case-p" ng-controller = 'WorksController as worksCtrl'>
  <img ng-src = "{{worksCtrl.lonerTour.case_images[0]}}" alt = "feature-image">
  <div class = "case-title">
    <h2>{{worksCtrl.lonerTour.name}}</h2>
    <h3>{{worksCtrl.lonerTour.category}}</h3>
  </div>
  <section>
    <h4>Tools</h4>
    <ul><li ng-repeat = "tech in worksCtrl.lonerTour.tech">{{tech}}</li></ul>
    <p>{{worksCtrl.lonerTour.challenges}}</p>
    <img ng-src = "{{worksCtrl.lonerTour.case_images[2]}}" alt = "case-image">
    <p>{{worksCtrl.lonerTour.paragraphs[0]}}</p>
    <img ng-src = "{{worksCtrl.lonerTour.case_images[6]}}" alt = "case-image">
    <img ng-src = "{{worksCtrl.lonerTour.case_images[7]}}" alt = "case-image">
    <p>{{worksCtrl.lonerTour.paragraphs[1]}}</p>
    <img ng-src = "{{worksCtrl.lonerTour.case_images[1]}}" alt = "case-image">
    <p>{{worksCtrl.lonerTour.paragraphs[2]}}</p>
    <img ng-src = "{{worksCtrl.lonerTour.case_images[5]}}" alt = "case-image">
    <i>{{worksCtrl.lonerTour.tags}}</i>
    <button><a href = "#works">more works</a></button>
</section>
</div>
