<div class ="case-p" ng-controller = 'WorksController as worksCtrl'>
  <img ng-src = "{{worksCtrl.caseQuicksling.case_images[0]}}" alt = "feature-image">
  <div class = "case-title">
    <h2>{{worksCtrl.caseQuicksling.name}}</h2>
    <h3>iOS Mobile App.</h3>
  </div>
  
  <section>
    <h4>Tools</h4>
    <ul><li ng-repeat = "tech in worksCtrl.caseQuicksling.tech">{{tech}}</li></ul>
    
    <h5>Challenge Statement</h5>   
    <p>
      establish new brand guideline for client to adhere to a Apple specific devices.
      Allow contractors to accurately quote their clients on site of work.
    </p>
    <img ng-src = "{{worksCtrl.caseQuicksling.case_images[1]}}"  alt = "case-summary-image">
    <h5>Understanding, and Guidelines</h5>
    <p>
      I compiled a list of questions and then got response from client.
      we realized a lot of the functionalty requested isnt needed.
      I researched the company and their customers to get a sense of their
      brand and their needs. I then compiled a list of questions related to the project scope
      to hone in on key features.
    </p>
    <p>
      Once I was confident with understanding the client's needs I established their principles which are 'quick', 'easy',
      'intuitive', and 'efficient'.
    </p>
    <p>
      I spent time researching Apple's human design guidelines, playing with ideas before making wireframes.
    </p>
    <img ng-src = "{{worksCtrl.caseQuicksling.case_images[2]}}"  alt = "case-image">
   <h5>Wireframes and sketches</h5>
    <h5>Iteration & Prototype - version 1</h5>
    <p>I wanted to keep my designs focused on 'efficiency'. Placing myself in the 
      user's shoes, as a contractor I quickly want to convey to the home owner, my client, what
    products they need. The average age of contractors are above 30, and thus may not be familiar
  with mobile interfaces. It was imperative that the app be intuitive, and familiar.
   </p>
   <p>
     after the first iterations the client, and coworkers came back with feedback.
   </p>
   <p>
     development challanges were getting familiar with Swift language, and utillizing the MVVM
     architecture.
   </p>
   <p>
     Once the app was built, the client was pleased with the outcome, their users were equally pleased.
   </p>
   <p>stakeholder feedback</p>
   <h5>Iteration & Prototype - version 2</h5>
    <img ng-src = "{{worksCtrl.caseQuicksling.case_images[3]}}"  alt = "image of wireframes">
    <img ng-src = "{{worksCtrl.caseQuicksling.case_images[4]}}"  alt = "image of xd board">
    <img ng-src = "{{worksCtrl.caseQuicksling.case_images[5]}}"  alt = "image of xd board">
    <img ng-src = "{{worksCtrl.caseQuicksling.case_images[6]}}"  alt = "image of xd board">
    <img ng-src = "{{worksCtrl.caseQuicksling.case_images[7]}}"  alt = "image of xd board">

    <h5>Result and Reflection</h5>
    <img ng-src = "{{worksCtrl.caseQuicksling.case_images[8]}}"  alt = "quicksling app store">
    <p>turned out great. a lot of reviews, thousands of downloads happy client.</p>
    <p>i worked in the buddy system and learned a lot</p>
    <p>here's a version you can play with</p>
    <img ng-src = "{{worksCtrl.caseQuicksling.case_images[9]}}"  alt = "prototype">
    <button>download app</button>

    <span class="button button--ghost"><a href = "works">more works</a></span>
  </section>
</div>
