/*
  ===================================
    All Pages
  ===================================
*/

div[class*=-p] {
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  padding-bottom: 3rem;
  .title-container {
    padding-bottom: 3rem;
  }
  p {
    opacity: 0.9;
  }
  p:hover {
    opacity: 1;
  }
  @include desktop {
    padding: 0 20rem;
    padding-bottom: 12rem;
  }
  ul {
    padding: 0;
  }
}


/*
  ===================================
    Home Page
  ===================================
*/

.home-s {
  height: 50vh;
  .home-text {
    margin: 10% 0 0 5%;
    max-width: 80%;
    padding-top: 2.0rem;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
      margin: 0 !important;
    }
  }
  @include desktop {
    .home-text {
      max-width: 40%;
      margin: 10% 0 0 2%;
      h1 {
        font-size: 3.0rem !important;
      }
      h2 {
        font-size: 2.0rem !important;
      }
    }
  }
}

.about-section,
.publications-section,
.works-section {
  padding: 0;
}

.about-section,
.publications-section {
  background: #3263C9;
}

.works-section {
  background: #252525;
}


/*
  ===================================
    Home Sections Content
  ===================================
*/

.section-container {
  width: $section-container-width;
  margin: auto;
  @include desktop {
    width: $section-container-width-desktop;
  }
}

.summary-box {
  p {
    background: white;
    padding: 3.25rem;
    @include desktop {
      padding: 3rem 15.0rem;
    }
  }
}


