.home {
    &__section {
        height: 50rem;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;

        .content {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            background: #fff;
            max-width: $content-width;
            padding: $content-spacing;

            @include respond-above('xs') {
                max-width: 100rem;
            }

            p {
                max-width: 75ch;
            }
        }

        &--hero {
            flex-direction: column;

            .content {
                align-items: flex-start;

                @include respond-above('xs') {
                    align-items: center;

                }
            }
        }

        &--about {
            background: #3263C9;
        }

        &--works {
            background: #252525;
        }

        &--publications {
            background: #3263C9;
        }
    }
}