/*
  ===================================
    Home Page
  ===================================
*/

#home-page-container {
  display: flex;
  flex-flow: column;
  section {
    max-width: $max-width;
    width: 45ch;
    padding: $edge-padding;
    height: 25rem;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  /*
  ===================================
    Home Page Sections Content
  ===================================
*/
  div[class$="-section"] {
    height: 50rem;
    section {
      max-width: $max-width;
      width: 85%;
      margin: 0 auto;
      height: 100%;
      p {
        background: white;
        padding: 3.25rem;
        width: 100%;
      }
    }
  }
  .about-section::before {
    content: '';
    background: white;
    width: 100%;
    height: 25%;
  }
  .works-section::before {
    content: '';
    background: #3263c9;
    width: 100%;
    height: 25%;
  }
  .publications-section::before {
    content: '';
    background: #252525;
    width: 100%;
    height: 25%;
  }
  .about-section,
  .publications-section {
    background: #3263C9;
  }
  .works-section {
    background: #252525;
  }
}