.home {
    &__section {
        height: 50rem;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        .content {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            background: #fff;
            width: 100%;
            max-width: 100rem;
            padding: 2.5rem;
            p {
                max-width: 75ch;
            }
        }

        &--about {
            background: #3263C9;
        }

        &--works {
            background: #252525;
        }

        &--publications {
            background: #3263C9;
        }
    }
}