/*
  ===================================
    Home Page
  ===================================
*/

#home-page-container {
  >div:nth-child(1) {
    max-width: $max-width;
    width: 80%;
    padding: 2.0rem;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  /*
  ===================================
    Home Page Sections Content
  ===================================
*/
  >div:nth-child(2) {
    div[class *=-section]{
  
      section {
        max-width: $max-width;
        width: 80%;
        margin: 0 auto;
      }
    }
    p {
      background: white;
      padding: 3.25rem;
    }
  }
  .about-section,
  .publications-section {
    background: #3263C9;
  }
  .works-section {
    background: #252525;
  }
}