  div[class*=cases-prototype-] {
      @include phone {
          width: 20rem;
          align-self: center;
      }
  }

  .prototype-device {
      @include prototype-iphone-img;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      height: 60rem;
      content: '';
      @include phone {
          height: 40rem;
      }
  }

  .prototype-screen {
      @include prototype-musicem-img;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      height: 45rem;
      top: 7rem;
      position: relative;
      @include phone {
          height: 30.5rem;
          top: 4.6rem;
      }
  }