

.button{
    padding: 0.5rem 1.5rem;
      background: transparent;
      text-align: center;
      color: $brand-green;
      font-weight: bold;
      border: 1px solid $brand-green;
      box-shadow: 0.4rem 0.4rem 0px 0px $brand-green;
      text-transform: uppercase;
      transition: all .2s ease-in-out;
      a {
          color: $brand-green;
      }
  }
  
  /*scale transform works better than zoom*/
  .button:hover{
      cursor: pointer;
      box-shadow: none;
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
  }
  
  .button:focus{
    outline: none;
  }
  