/*
  ===================================
    Projects Page
  ===================================
*/
.projects {
  @include container();

  &__item {
    padding: $standard-spacing;
    >:nth-child(n) {
      padding: $standard-spacing 0;

    }
  }
}

.projects-item {
  &__actions {
    button {
      margin: 0;
    }
  }
}