/*
  ===================================
    Works Page
  ===================================
*/

.works-p {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  @include phone {
    .case-description {
      h2 {
        font-size: 3rem !important;
      }

      display: inline-grid;
    }

    .case-details {
      text-align: justify;
    }
  }

  @include desktop {
    padding: 0 10rem !important;

    .cases:nth-child(odd) {
      .case-description {
        order: 3;
      }

      .case-details {
        order: 1;
      }
    }
  }
}