<div id="header-as" ng-include="'views/templates/header.html'"></div>

<div class="about-p" ng-controller='AboutController as aboutCtrl'>
    <div class="title-container">
        <a href="#about" class="title-link">
            <span class="title-ribbon">
        <h1>   {{aboutCtrl.printAbout}}</h1>
      </span>
        </a>
    </div>
    <div class="summary about-summary">
        <p>{{aboutCtrl.summary}}</p>
    </div>
    <ng-include class="about-border" src="'img/border-slant.svg'"></ng-include>


    <div class="prof-container about-s">
        <h1>Proficiencies</h1>
        <div class="proficiencies" ng-repeat="prof in aboutCtrl.profs">
            <div class="summary-box">
                <ng-include class="summary-border-t" src="'img/border-slant.svg'"></ng-include>

                <div class="summary prof-dev">
                  <img ng-src="{{prof.development.icon}}">
                    <h1>{{prof.development.name}}</h1>
                    <div class="dev-skills-container">
                         {{prof.development.skills.name}}
                         <ul>
                        <li class="dev-skills" ng-repeat="skills in aboutCtrl.skills">
                            {{skills}}
                        </li>
                      </ul>
                    </div>
                    <div class="dev-tech-container">
                         {{prof.development.techniques.name}}
                         <ul>
                        <li class="dev-tech" ng-repeat="tech in aboutCtrl.techniquesDev">
                            {{tech}}
                        </li>
                      </ul>
                    </div>
                </div>
                <ng-include class="summary-border-b" src="'img/border-slant.svg'"></ng-include>
            </div>

            <div class="summary-box">
                <ng-include class="summary-border-t" src="'img/border-slant.svg'"></ng-include>

                <div class=" summary prof-des">
                    <img ng-src="{{prof.design.icon}}">
                    <h1>{{prof.design.name}}</h1>
                    <div class="des-tools-container">
                       {{prof.design.tools.name}}
                       <ul>
                        <li class="des-tools" ng-repeat="tools in aboutCtrl.tools">
                            {{tools}}
                        </li>
                      </ul>
                      <i>
                        My knowledge as a developer allows me to make consistent layouts
                        that are user friendly and easy for developers to integrate and
                        scale reliably.
                      </i>
                    </div>
                    <div class="des-tech-container">
                         {{prof.design.techniques.name}}
                         <ul>
                        <li class="des-tech" ng-repeat="tech in aboutCtrl.techniquesDes">
                            {{tech}}
                        </li>
                      </ul>
                      <i>
                        I am able to work in an agile working enviroment alongside
                        back-end engineers, designers, and other front-end developers.
                        I have experience as a Scrum Master.
                      </i>
                    </div>
                </div>
                <ng-include class="summary-border-b" src="'img/border-slant.svg'"></ng-include>
            </div>
        </div>
        <ng-include class="about-border-bottom" src="'img/border-slant.svg'"></ng-include>

    </div>

    <div class="summary about-site">
        <h1>About This Site</h1>
        <p>
          This website has been built from the ground up. I started with
          conception using wireframes to execution using prototyping tools
          and to deployment.
          Built using AngularJS and Node.js for optimal speed
          and easy SEO integration Css and custom animations written
          in Sass with a mobile first design philosophy. Gulp as my Task manager
          Jasmine and Karma for unit testing more details visit my repo.
          at github.com/ptlergo/portfolio.
       </p>
    </div>

</div>
<button>Resume <i class="fa fa-arrow-down" aria-hidden="true"></i></button>

<div id="footer-as" ng-include="'views/templates/footer.html'"></div>
