<div class="main-section" ng-controller='HomeController as homeCtrl'>
  <section class="home-s">
    <div class="home-text">
      <h1>Patrick Funom Tunga-Lergo</h1>
      <h2>Front-End Web Developer</h2>
      <h2>& Digital Designer</h2>
      <button>
        <a data-value = "download" href="../img/Patrick_Funom_Tunga-Lergo_resume.pdf" target="_blank">
          resume
        </a>
      </button>
    </div>
  </section>
  <ng-include ng-repeat="temps in homeCtrl.templates track by $index" src="temps"></ng-include>
</div>