<main id="home-page-container" ng-controller='HomeController as homeCtrl'>
  <section>
    <h1>Patrick Tunga-Lergo</h1>
    <h2>UI/UX Developer</h2>
    <h2>& Digital Designer</h2>
    <!-- <button><a data-value = "download" href="../img/Patrick_Funom_Tunga-Lergo_resume.pdf" target="_blank">resume</a></button> -->
    <button  class=""><a data-value = "download" ng-href="/#/works" target="_blank">view projects</a></button>

  </section>
  <ng-include id = "section-{{$index}}" ng-repeat="temps in homeCtrl.templates track by $index" src="temps"></ng-include>
</main>