<section ng-controller='HomeController as homeCtrl'>
    <div class="home-s">
        <div style="text-align: center">
            <img ng-src='{{homeCtrl.img_src}}'>
            <h2>Patrick Funom Tunga-Lergo</h2>
            <h2>Digital Designer & Front-End Developer</h2>
        </div>
    </div>
    <!-- <div class="slant-container-top"></div> -->
    <div class="contain-b">
      <ng-include src = "'img/border-slant.svg'"></ng-include>
    </div>

    <div class="about-s" ng-controller='AboutController as aboutCtrl'>

        <a href="#" class="title-link">
          <span class="title-ribbon">
            <h1>{{ aboutCtrl.printAbout }}</h1>
          </span>
        </a>

        <div class="summary-box">
            <div class="slant-summary-top"></div>
            <p class="summary">{{ aboutCtrl.summary }}</p>
            <div class="slant-summary-bottom"></div>
        </div>

    </div>

    <!-- <div class="slant-container-top"></div> -->
    <img class="border-slant" ng-src = '{{homeCtrl.border_slant}}'>


    <div class="works-s" ng-controller='WorksController as worksCtrl'>

        <a href="#" class="title-link">
          <span class="title-ribbon">
            <h1>{{ worksCtrl.printWorks }}</h1>
          </span>
        </a>

        <div class="summary-box">
            <div class="slant-summary-top"></div>
            <p class="summary">{{ worksCtrl.summary }}</p>
            <div class="slant-summary-bottom"></div>
        </div>

        <div carousel title="works"></div>
    </div>

    <!-- <div class="slant-container-top"></div> -->
    <img class="border-slant" ng-src = '{{homeCtrl.border_slant}}'>


    <div class="writings-s" ng-controller='WritingsController as writingsCtrl'>

        <a href="#" class="title-link">
          <span class="title-ribbon">
            <h1>{{ writingsCtrl.printWritings }}</h1>
          </span>
        </a>

        <div class="summary-box">
            <div class="slant-summary-top"></div>
            <p class="summary">{{ writingsCtrl.summary }}</p>
            <div class="slant-summary-bottom"></div>
        </div>


    </div>
</section>
