<main class="projects works-p" ng-controller='WorksController as worksCtrl'>
  <section class="projects__top">
    <header class="projects__header">
      <!-- <h1>{{ worksCtrl.title }}</h1> -->
      <h1>Projects</h1>
    </header>
  </section>
  <!-- projects page items -->
  <section class="projects__items">
    <!-- projects page item -->
    <article class="cases projects__item" ng-repeat="case in worksCtrl.cases track by $index">
      <!-- item prototype -->
      <figure class="projects__item-figure projects__item-figure--{{$index}} cases-prototype-{{$index}}">
        <div class="prototype-device" ng-show="case.category == 'web'">
          <div class="prototype-screen" style="background-image: url({{case.gif_src}})">
          </div>
        </div>
        <div class="prototype-screen" style="background-image: url({{case.gif_src}})" ng-show="case.category == 'digital strategy & ecommerce'"></div>
      </figure>
      <!-- /item prototype -->
      <h2 class="projects-item__title">{{case.name}}</h2>
      <div class="projects-item__actions">
        <button><a ng-href="/projects/{{case.path}}">view case study</a></button>
        <button ng-click="checked = !checked" data-value="Toggle">show tech.</button>
      </div>
      <div class="case-details projects-item__details">
        <p>{{case.details}}</p>
        <ul ng-show="checked">
          <li ng-repeat="tech in case.tech"><i>{{tech}}</i> tech</li>
        </ul>
      </div>
    </article>
    <!-- /projects page item -->
  </section>
  <!-- /projects page items -->
</main>