
<div class = "publications-p" ng-controller = 'PublicationsController as publicationsCtrl'>
  <div class="title-container">
  <h1>{{publicationsCtrl.title}}</h1>
  </div>
  <div>
    <p>{{ publicationsCtrl.summary }}</p>
    <ul>
      <li>{{publicationsCtrl.link[0].title}}<a ng-href = "{{publicationsCtrl.links[0].src}}">watch here</a></li>
      <li>{{publicationsCtrl.link[1].title}}<a ng-href = "{{publicationsCtrl.links[1].src}}">read here</a></li>
      <li>{{publicationsCtrl.link[2].title}}<a ng-href = "{{publicationsCtrl.links[2].src}}">read here</a></li>
    </ul>
  </div>
</div>
