
<div class = "publications-p" ng-controller = 'PublicationsController as publicationsCtrl'>
  <div class="title-container">
  <h1>{{publicationsCtrl.title}}</h1>
  </div>
  <p>{{ publicationsCtrl.tagline }}</p>
  <div>
    <div>
      <h2>Writings</h2>
      <p>{{ publicationsCtrl.summary.writings }}</p>
      <ul>
        <li>{{publicationsCtrl.links[1].title}} | <a ng-href = "{{publicationsCtrl.links[1].src}}" target="_blank">read here</a></li>
        <li>{{publicationsCtrl.links[2].title}} | <a ng-href = "{{publicationsCtrl.links[1].src}}" target="_blank">read here</a></li>
        <li>{{publicationsCtrl.links[4].title}} | <a ng-href = "{{publicationsCtrl.links[2].src}}" target="_blank">read here</a></li>
        <li>{{publicationsCtrl.links[5].title}} | <a ng-href = "{{publicationsCtrl.links[2].src}}" target="_blank">read here</a></li>
        <li>{{publicationsCtrl.links[6].title}} | <a ng-href = "{{publicationsCtrl.links[2].src}}" target="_blank">read here</a></li>
        <li>{{publicationsCtrl.links[7].title}} | <a ng-href = "{{publicationsCtrl.links[2].src}}" target="_blank">read here</a></li>
      </ul>
    </div>
    <div>
      <h2>Talks</h2>
      <p>{{ publicationsCtrl.summary.talks }}</p>
      <ul>
        <a ng-href = "{{publicationsCtrl.links[0].src}}" target="_blank"><li>
          <img ng-src = "{{publicationsCtrl.links[0].img_src}}">
          <section>
            <h3>{{publicationsCtrl.links[0].title}}</h3>
            <h4>Full Sail University</h4>
            <h4>Orlando, FL</h4>
          </section>
        </li></a>
      </ul>
      </div>
    </div>
  </div>
</div>
