
<div class ="works-p" ng-controller = 'WorksController as worksCtrl'>
  <h1>{{ worksCtrl.title }}</h1>
  <div class = "cases" ng-repeat = "case in worksCtrl.cases track by $index">
    <div class = "cases-prototype-{{$index}}">
      <div class = "prototype-device" ng-show = "case.category == 'web'">
        <div class = "prototype-screen" style = "background-image: url({{case.gif_src}})">          
        </div>
      </div>
      <div class = "prototype-screen" style = "background-image: url({{case.gif_src}})" ng-show = "case.category == 'digital strategy & ecommerce'"></div>
    </div>
    <div class = "case-description">
      <h2>{{case.name}}</h2>
      <button><a ng-href = "{{case.path}}">view case study</a></button>
      <button ng-click="checked = !checked" data-value="Toggle">show tech.</button>
      <ul ng-show = "checked">
        <li ng-repeat = "tech in case.tech"><i>{{tech}}</i></li>
      </ul>
    </div>
    <div class ="case-details"><p>{{case.details}}</p></div>
  </div>
</div>
