<div ng-controller = 'WorksController as worksCtrl'>
  <div class = "tagline">
    {{worksCtrl.tagline}}
  </div>

    <div class="embedly-responsive" style="position: relative;padding-bottom: 216.667%;height: 0;overflow: hidden;"><iframe class="embedly-embed" frameborder="0" scrolling="no" allowfullscreen src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Finvis.io%2FB5AUZFI7K&url=https%3A%2F%2Fprojects.invisionapp.com%2Fshare%2Fmain%2Fmeta%2Fkey%2FB5AUZFI7K&image=https%3A%2F%2Fs3.invisionapp-cdn.com%2Fstorage.invisionapp.com%2Fscreens%2Fthumbnails%2F9662204.png%3Fx-amz-meta-iv%3D1%26response-cache-control%3Dmax-age%253D2419200%26x-amz-meta-mdi%3D1%26x-amz-meta-ck%3D414d1c833a91f04bb7db2d7c277e1aa0%26AWSAccessKeyId%3DAKIAJFUMDU3L6GTLUDYA%26Expires%3D1491004800%26Signature%3DCuwXAqhgGWvE7zgM9J%252BuvuwtM8I%253D&key=16466e0ea0c04e0c81a44ea62dff8684&type=text%2Fhtml&schema=invisionapp" width="396" height="858" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"></iframe></div>
  <div ng-repeat = "case in worksCtrl.cases track by case.id">
  <div class = "case-container">
    {{case}}
  </div>
</div>
  <button>more projects</button>
</div>
