/*VARIABLES*/
body {
  font-family: "nunito", corbel, san-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  @media only screen and (max-width: 480px) {
    body {
      text-align: center; } }
  body p {
    font-family: "proxima-nova", Corbel, Arial, sans-serif; }
  body h1 {
    font-size: 25px; }

button {
  border: solid #71e2a6 0.21em;
  line-height: 25px;
  font-weight: lighter;
  background: #71e2a6;
  color: white; }

.container,
footer,
header {
  flex: 1 100%; }

header {
  order: 1; }

.container {
  order: 2; }

.main-container {
  padding: 0;
  text-align: center; }

footer {
  order: 3; }

/*Border triangle svg*/
svg {
  margin-bottom: -7px; }

.about-border svg {
  background: none; }

.about-border #Triangle {
  fill: #3263C9; }

.about-border-bottom svg {
  background: none; }

.about-border-bottom #Triangle {
  fill: #ffffff; }

.works-border svg {
  background: #3263C9; }

.works-border #Triangle {
  fill: #252525; }

#header-as .header-border svg,
#header-ps .header-border svg,
#header-ws .header-border svg {
  background: #3263C9; }

#header-as .header-border #Triangle,
#header-ps .header-border #Triangle,
#header-ws .header-border #Triangle {
  fill: #ffffff; }

#header-hs .header-border svg {
  background: transparent; }

#header-hs .header-border #Triangle {
  fill: none; }

.summary-box #Triangle {
  fill: white; }

.summary-box .summary-border-b svg {
  transform: rotate(180deg);
  margin-bottom: -5px; }

.publications-border svg {
  background: #252525; }

.publications-border #Triangle {
  fill: #3263C9; }

.footer-border svg {
  background: #3263c9;
  display: transparent; }

.footer-border #Triangle {
  fill: #252525; }

#footer-hs .footer-border svg {
  background: #3263c9;
  display: transparent; }

#footer-hs .footer-border #Triangle {
  fill: #252525; }

#footer-as svg,
#footer-ps .footer-border svg,
#footer-ws svg {
  background: transparent; }

#footer-as #Triangle,
#footer-ps .footer-border #Triangle,
#footer-ws #Triangle {
  fill: #252525; }

#header-as,
#header-ps,
#header-ws {
  background: #3263c9; }

/*Title Animation*/
.home-s {
  height: 60vh; }
  .home-s .title-ribbon {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    color: white;
    text-decoration: none; }
  .home-s .title-ribbon:hover {
    position: relative;
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    color: white;
    text-decoration: none; }
  .home-s .title-ribbon:before {
    bottom: 0%;
    content: '';
    position: absolute;
    top: -20%;
    transition: 0.3s;
    width: 55%;
    background: #71e2a6;
    left: 5%;
    -webkit-transform: translateY(4px);
    transform: translateY(4px) skewY(-10deg);
    z-index: -1;
    -webkit-transform: skewY(-13.02deg); }
  .home-s .title-ribbon:hover:before {
    bottom: 0%;
    content: '';
    position: absolute;
    top: -20%;
    transition: 0.3s;
    width: 55%;
    background: inherit;
    left: 5%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: -1; }
  .home-s .title-ribbon:after {
    bottom: -20%;
    content: '';
    position: absolute;
    top: 0%;
    transition: 0.3s;
    width: 55%;
    background: #e9b921;
    right: 5%;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    z-index: -1;
    -webkit-transform: skewY(-13.02deg); }
  .home-s .title-ribbon:hover:after {
    bottom: -20%;
    content: '';
    position: absolute;
    top: 0%;
    transition: 0.3s;
    width: 55%;
    background: inherit;
    right: 5%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: -1; }
  .home-s button:hover {
    zoom: 1.1; }
  .home-s .home-text {
    max-width: 40%;
    margin: 10% 0 0 2%;
    text-align: left; }
  .home-s h2 {
    font-size: 20px; }
  .home-s h2:first-child {
    font-size: 30px; }
  .home-s img {
    width: 25%; }
  @media only screen and (min-width: 769px) and (max-width: 1624px) {
    .home-s {
      padding-bottom: 35%; } }
  @media only screen and (max-width: 480px) {
    .home-s {
      padding-top: 10% !important; }
      .home-s .home-text {
        margin: 10% 0 0 5%;
        max-width: 70%; }
      .home-s h2 {
        font-size: 15px; }
      .home-s h2:first-child {
        font-size: 20px; }
      .home-s img {
        width: 50%; } }

.about-s,
.publications-s {
  background: #3263C9;
  border-top: #3263C9 solid 10px; }
  .about-s .title-ribbon,
  .publications-s .title-ribbon {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    color: white;
    text-decoration: none; }
  .about-s .title-ribbon:hover,
  .publications-s .title-ribbon:hover {
    position: relative;
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    color: white;
    text-decoration: none; }
  .about-s .title-ribbon:before,
  .publications-s .title-ribbon:before {
    bottom: 0%;
    content: '';
    position: absolute;
    top: -20%;
    transition: 0.3s;
    width: 55%;
    background: #71e2a6;
    left: 5%;
    -webkit-transform: translateY(4px);
    transform: translateY(4px) skewY(-10deg);
    z-index: -1;
    -webkit-transform: skewY(-13.02deg); }
  .about-s .title-ribbon:hover:before,
  .publications-s .title-ribbon:hover:before {
    bottom: 0%;
    content: '';
    position: absolute;
    top: -20%;
    transition: 0.3s;
    width: 55%;
    background: inherit;
    left: 5%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: -1; }
  .about-s .title-ribbon:after,
  .publications-s .title-ribbon:after {
    bottom: -20%;
    content: '';
    position: absolute;
    top: 0%;
    transition: 0.3s;
    width: 55%;
    background: #e9b921;
    right: 5%;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    z-index: -1;
    -webkit-transform: skewY(-13.02deg); }
  .about-s .title-ribbon:hover:after,
  .publications-s .title-ribbon:hover:after {
    bottom: -20%;
    content: '';
    position: absolute;
    top: 0%;
    transition: 0.3s;
    width: 55%;
    background: inherit;
    right: 5%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: -1; }

.works-s {
  background: #252525;
  border-top: #252525 solid 10px; }
  .works-s .title-ribbon {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    color: white;
    text-decoration: none; }
  .works-s .title-ribbon:hover {
    position: relative;
    display: block;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    color: white;
    text-decoration: none; }
  .works-s .title-ribbon:before {
    bottom: 0%;
    content: '';
    position: absolute;
    top: -20%;
    transition: 0.3s;
    width: 55%;
    background: #71e2a6;
    left: 5%;
    -webkit-transform: translateY(4px);
    transform: translateY(4px) skewY(-10deg);
    z-index: -1;
    -webkit-transform: skewY(-13.02deg); }
  .works-s .title-ribbon:hover:before {
    bottom: 0%;
    content: '';
    position: absolute;
    top: -20%;
    transition: 0.3s;
    width: 55%;
    background: inherit;
    left: 5%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: -1; }
  .works-s .title-ribbon:after {
    bottom: -20%;
    content: '';
    position: absolute;
    top: 0%;
    transition: 0.3s;
    width: 55%;
    background: #e9b921;
    right: 5%;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    z-index: -1;
    -webkit-transform: skewY(-13.02deg); }
  .works-s .title-ribbon:hover:after {
    bottom: -20%;
    content: '';
    position: absolute;
    top: 0%;
    transition: 0.3s;
    width: 55%;
    background: inherit;
    right: 5%;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: -1; }

.works-p .title-ribbon, .about-p .title-ribbon, .publications-p .title-ribbon {
  position: relative;
  margin: 0 auto;
  height: 100%;
  display: block;
  box-sizing: border-box;
  transition: 0.3s;
  z-index: 1;
  color: white;
  text-decoration: none; }

.works-p .title-ribbon:hover, .about-p .title-ribbon:hover, .publications-p .title-ribbon:hover {
  position: relative;
  display: block;
  box-sizing: border-box;
  transition: 0.3s;
  z-index: 1;
  color: white;
  text-decoration: none; }

.works-p .title-ribbon:before, .about-p .title-ribbon:before, .publications-p .title-ribbon:before {
  bottom: 0%;
  content: '';
  position: absolute;
  top: -20%;
  transition: 0.3s;
  width: 55%;
  background: #71e2a6;
  left: 5%;
  -webkit-transform: translateY(4px);
  transform: translateY(4px) skewY(-10deg);
  z-index: -1;
  -webkit-transform: skewY(-13.02deg); }

.works-p .title-ribbon:hover:before, .about-p .title-ribbon:hover:before, .publications-p .title-ribbon:hover:before {
  bottom: 0%;
  content: '';
  position: absolute;
  top: -20%;
  transition: 0.3s;
  width: 55%;
  background: inherit;
  left: 5%;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  z-index: -1; }

.works-p .title-ribbon:after, .about-p .title-ribbon:after, .publications-p .title-ribbon:after {
  bottom: -20%;
  content: '';
  position: absolute;
  top: 0%;
  transition: 0.3s;
  width: 55%;
  background: #e9b921;
  right: 5%;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  z-index: -1;
  -webkit-transform: skewY(-13.02deg); }

.works-p .title-ribbon:hover:after, .about-p .title-ribbon:hover:after, .publications-p .title-ribbon:hover:after {
  bottom: -20%;
  content: '';
  position: absolute;
  top: 0%;
  transition: 0.3s;
  width: 55%;
  background: inherit;
  right: 5%;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  z-index: -1; }

.summary {
  background: white;
  margin: 0;
  padding: 20px;
  margin: 0 auto; }
  @media only screen and (min-width: 769px) and (max-width: 1624px) {
    .summary {
      font-size: 25px;
      padding: 40px 200px; } }

.summary-box {
  margin: auto;
  width: 75%; }
  @media only screen and (min-width: 769px) and (max-width: 1624px) {
    .summary-box {
      width: 85%; } }

.title-container {
  width: 250px;
  margin: auto; }

.title-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  box-sizing: border-box; }

a {
  width: 100%;
  text-decoration: none !important;
  background: inherit !important;
  color: #ccc !important; }

.carousel-indicators li {
  visibility: hidden; }

.tagline {
  padding-top: 15%; }

.about-p p {
  padding: 10px 20px;
  text-align: left; }

.about-p .about-summary, .about-p .about-site {
  padding: 20px 100px; }
  @media only screen and (max-width: 480px) {
    .about-p .about-summary, .about-p .about-site {
      padding: 20px 20px; } }

.hamburger-container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease; }

.hamburger-container:hover {
  opacity: 0.5; }

.hamburger-container span {
  background: #EFC638;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer; }

.hamburger-container span:nth-of-type(2) {
  top: 11px; }

.hamburger-container span:nth-of-type(3) {
  top: 22px; }

.menuActive {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s; }
  .menuActive .top {
    transform: translateY(11px) translateX(0) rotate(45deg); }
  .menuActive .middle {
    opacity: 0;
    width: 0%; }
  .menuActive .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg); }

nav a {
  color: white; }

.brand:hover {
  width: 12%; }

.brand {
  width: 10%; }
  @media only screen and (max-width: 480px) {
    .brand {
      width: 25%; } }
  .brand img {
    width: 100%; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: #3263C9;
  z-index: 2;
  color: white;
  text-align: center;
  opacity: 0;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  font-variant: small-caps; }
  .overlay .nav-links:first-child {
    margin-top: 15%; }
    @media only screen and (max-width: 480px) {
      .overlay .nav-links:first-child {
        margin-top: 50%; } }

.overlayActive {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1; }

.overlay ul {
  list-style: none; }

.prototype-device {
  background-image: url("../../img/iphone.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;
  content: '*'; }
  @media only screen and (max-width: 480px) {
    .prototype-device {
      height: 300px; } }

.prototype-screen {
  background-image: url("https://media.giphy.com/media/3ohzdLBDAwCtfWy6sM/giphy.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: '*';
  height: 450px;
  top: 70px;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .prototype-screen {
      height: 224px;
      top: 39px; } }

@media only screen and (max-width: 480px) {
  .prototype {
    float: left;
    width: 50%; } }

.case-header {
  float: left;
  position: relative;
  z-index: 1;
  text-align: left;
  margin: 0 10%; }
  @media only screen and (max-width: 480px) {
    .case-header {
      width: 50%;
      margin: 0 auto; }
      .case-header h2 {
        font-size: 25px; } }

.super-case-container:nth-of-type(even) .case-container .case-header {
  float: right;
  text-align: right; }

@media only screen and (max-width: 480px) {
  .super-case-container:nth-of-type(even) .case-container .prototype {
    float: right; } }

.super-case-container:nth-of-type(even) .case-container .case-details {
  float: left;
  text-align: left; }

.case-details {
  float: right;
  position: relative;
  z-index: 1;
  text-align: right;
  bottom: 15em;
  width: 30%; }
  @media only screen and (max-width: 480px) {
    .case-details {
      width: 50%;
      top: 0; } }

.case-container {
  margin: 100px auto;
  overflow: hidden;
  padding: 0 55px; }

footer {
  height: 100%;
  text-align: center; }
  footer h3 {
    margin: 0;
    padding: 3%;
    text-decoration: underline; }
  footer .slant {
    border-right: 100vw solid #252525;
    border-top: 300px solid #3263c9; }
    @media only screen and (max-width: 480px) {
      footer .slant {
        border-top: 67px solid #3263c9; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      footer .slant {
        border-top: 163px solid #3263c9; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      footer .slant {
        border-top: 300px solid #3263c9; } }
  footer .f-top {
    background: #252525;
    height: 45%;
    padding: 5% 0;
    color: white; }
    footer .f-top .contact-box {
      width: 100%;
      margin: 10% auto; }
  footer .f-bottom {
    background: #252525;
    height: 45%; }
    footer .f-bottom .social-box {
      color: white;
      font-size: 20pt;
      margin: 0 auto;
      padding: 0 0 10%; }
      @media only screen and (max-width: 480px) {
        footer .f-bottom .social-box {
          padding: 0 0 20%; } }
    footer .f-bottom span {
      width: 40px;
      margin: 0 auto;
      padding: 10px; }
    footer .f-bottom .f-copywright {
      padding-bottom: 1%;
      opacity: 0.6;
      clear: both; }
      footer .f-bottom .f-copywright :hover {
        cursor: pointer; }
    footer .f-bottom .f-logo img {
      width: 3%; }
    @media only screen and (max-width: 480px) {
      footer .f-bottom {
        font-size: 10pt; }
        footer .f-bottom .f-logo img {
          width: 10%; } }
