body {
  font-family: 'Roboto', sans-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  @media only screen and (max-width: 480px) {
    body {
      text-align: center; } }

header, footer, .container {
  flex: 1 100%; }

header {
  order: 1; }

.container {
  order: 2; }

.main-container {
  padding: 5%; }

footer {
  order: 3; }

.hamburger-container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 35px;
  width: 45px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease; }

.hamburger-container:hover {
  opacity: 0.5; }

.hamburger-container span .top {
  transform: translateY(11px) translateX(0) rotate(45deg); }

.hamburger-container span .middle {
  opacity: 0;
  background: #green; }

.hamburger-container span .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg); }

.hamburger-container span {
  background: #00BCD4;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer; }

.hamburger-container span:nth-of-type(2) {
  top: 11px; }

.hamburger-container span:nth-of-type(3) {
  top: 22px; }

nav a {
  color: white; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: blue;
  z-index: 1;
  color: white;
  text-align: center; }

.overlay ul {
  list-style: none; }

footer {
  height: 300px; }
  footer .slant {
    border-top: 130px solid white;
    border-right: 100vw solid #252525; }
  footer .f-top {
    background: #252525;
    height: 45%; }
  footer .f-bottom {
    background: #252525;
    height: 45%; }
  footer .social-box {
    color: white;
    font-size: 25pt;
    margin: 0 auto;
    width: 240px;
    text-align: center; }
  footer span {
    width: 40px;
    margin: 0 auto;
    padding: 10px; }
  @media only screen and (max-width: 480px) {
    footer {
      font-size: 10pt; } }
